<?xml version="1.0"?>
<!--
/**
 * Copyright © Smaily. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smaily_connect>
            <connection>
                <subdomain/>
                <username/>
                <password/>
                <multilingual_mode>single</multilingual_mode>
            </connection>
            <subscribers>
                <sync_enabled>1</sync_enabled>
                <sync_mode>consent</sync_mode>
                <sync_fields>first_name,last_name,prefix,gender,birthday,customer_id,customer_group,subscription_type</sync_fields>
                <include_guests>0</include_guests>
                <checkout_optin_enabled>1</checkout_optin_enabled>
                <automation_force_opt_in>0</automation_force_opt_in>
                <suppress_optin_emails>1</suppress_optin_emails>
            </subscribers>
            <automations>
                <welcome_enabled>0</welcome_enabled>
                <first_order_enabled>0</first_order_enabled>
                <abandoned_enabled>0</abandoned_enabled>
                <abandoned_cutoff>30</abandoned_cutoff>
                <abandoned_fields>name,description,image_url,sku,quantity,price,base_price</abandoned_fields>
            </automations>
            <rss>
                <enabled>1</enabled>
            </rss>
            <intelligence>
                <connected>0</connected>
                <sync_catalog>1</sync_catalog>
                <sync_customers>1</sync_customers>
                <sync_orders>1</sync_orders>
                <browse_tracking>0</browse_tracking>
            </intelligence>
            <logging>
                <verbosity>error</verbosity>
            </logging>
        </smaily_connect>
        <system>
            <cron>
                <smaily_connect>
                    <schedule_generate_every>1</schedule_generate_every>
                    <schedule_ahead_for>4</schedule_ahead_for>
                    <schedule_lifetime>15</schedule_lifetime>
                    <history_cleanup_every>10</history_cleanup_every>
                    <history_success_lifetime>60</history_success_lifetime>
                    <history_failure_lifetime>4320</history_failure_lifetime>
                    <use_separate_process>1</use_separate_process>
                </smaily_connect>
            </cron>
        </system>
    </default>
</config>
