<?xml version="1.0"?>
<!--
/**
 * Copyright © Smaily. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config">
        <plugin name="smaily_connect_validate_connection" type="Smaily\Connect\Plugin\Adminhtml\ValidateConnectionOnSave"/>
    </type>

    <!-- Admin grid data sources. -->
    <virtualType name="Smaily\Connect\Ui\EventGridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">smaily_event_queue</argument>
            <argument name="resourceModel" xsi:type="string">Smaily\Connect\Model\ResourceModel\Queue\Event</argument>
        </arguments>
    </virtualType>
    <virtualType name="Smaily\Connect\Ui\IngestGridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">smaily_ingest_queue</argument>
            <argument name="resourceModel" xsi:type="string">Smaily\Connect\Model\ResourceModel\Engine\IngestEvent</argument>
        </arguments>
    </virtualType>
    <virtualType name="Smaily\Connect\Ui\BackfillGridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">smaily_backfill_job</argument>
            <argument name="resourceModel" xsi:type="string">Smaily\Connect\Model\ResourceModel\Backfill\Job</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="smaily_event_grid_data_source" xsi:type="string">Smaily\Connect\Ui\EventGridCollection</item>
                <item name="smaily_ingest_grid_data_source" xsi:type="string">Smaily\Connect\Ui\IngestGridCollection</item>
                <item name="smaily_backfill_grid_data_source" xsi:type="string">Smaily\Connect\Ui\BackfillGridCollection</item>
            </argument>
        </arguments>
    </type>
</config>
