<?xml version="1.0"?>
<!--
/**
 * Copyright © Smaily. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Smaily_Connect::connect" title="Smaily Connect" module="Smaily_Connect"
             sortOrder="70" parent="Magento_Backend::marketing"
             resource="Smaily_Connect::connect"/>
        <add id="Smaily_Connect::dashboard" title="Setup Wizard" module="Smaily_Connect"
             sortOrder="10" parent="Smaily_Connect::connect"
             action="smaily_connect/dashboard" resource="Smaily_Connect::connect"/>
        <add id="Smaily_Connect::event_log" title="Event Log" module="Smaily_Connect"
             sortOrder="20" parent="Smaily_Connect::connect"
             action="smaily_connect/events" resource="Smaily_Connect::event_log"/>
        <add id="Smaily_Connect::ingest_log" title="Intelligence Ingest Log" module="Smaily_Connect"
             sortOrder="30" parent="Smaily_Connect::connect"
             action="smaily_connect/ingest" resource="Smaily_Connect::event_log"/>
        <add id="Smaily_Connect::backfill" title="Historical Import" module="Smaily_Connect"
             sortOrder="40" parent="Smaily_Connect::connect"
             action="smaily_connect/backfill" resource="Smaily_Connect::backfill"/>
        <add id="Smaily_Connect::config" title="Configuration" module="Smaily_Connect"
             sortOrder="60" parent="Smaily_Connect::connect"
             action="adminhtml/system_config/edit/section/smaily_connect"
             resource="Smaily_Connect::config"/>
    </menu>
</config>
